* {
    margin: 0;
    padding: 0;
}

img {
    height: 250px;
}

p {
    font-size: 16px;
    max-width: 50%;
}

body {
    text-align: center;
    height: 100vh;
    padding: 10px;
}

.nasaWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    gap: 10px;
}

footer {
    padding: 10px;
}

main {
    padding: 20px;
}